PORT=4000
CLIENT_ORIGIN=http://localhost:5173

DB_SERVER=localhost
DB_PORT=1433
DB_NAME=SistemaPlanilla
DB_USER="REEMPLAZAR_POR_TU_USUARIO  "
DB_PASSWORD="REEMPLAZAR_POR_TU_CONTRASEÑA"

DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=true